<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<form class="userInput">
	<input type="text" name="username" placeholder="Enter username" id='username'> </input>
	<button type='submit'> Load profile </button>
</form>


<script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
<script src='/mustache.js'></script>
<script src='/user.js'></script>
<script src='/interface.js'></script>

<div id="sampleArea">
</div>

<template id="userSection">
  <article class="profile">
    <section class="pic">
      <img src={{avatar_url}}>
    </section>
    <section class="statistics">
      <h3>
        <a href="https://github.com/{{login}}">
          {{login}}
        </a>
      </h3>
      <strong>Repos:{{public_repos}}</strong>
      <strong>Followers: {{followers}}</strong>
    </section>
    <br clear="all">
 </article>
</template>


</body>
</html>